
.car
    min-height: 85vh

    // margin: 220px 0

.inner
    border-radius: 15px

.carouselImg
    background-repeat: no-repeat
    background-size: cover
    height: 85vh
    // border-radius: 15px

.carouselImg1
    background-image: url('/images/salsaroja.jpg')
    background-position: bottom

.carouselImg2
    background-image: url('/images/img24.jpg')

.carouselImg3
    background-image: url('/images/img19.jpg')
   

@media screen and (max-width: 815px)
    .carouselImg1
        background-position: 50%

    .carouselImg2
        background-position: 100%
    
    .carouselImg3
        background-position: 30%


