.ìnstalations
    background: #fff
    padding: 1rem
    border-radius: 15px

.ts
    
    span
        box-shadow: 13px 11px 16px gray
        border-radius: 10px
        border-radius: 10px

.notOnly
    border-radius: 10px
